.error-page {
  min-height: calc(100vh - 135px);
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .error-page {
    min-height: 500px;
    padding: 60px 0px 30px 0px;
  }
}
.error-page__container {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: calc(100vh - 135px);
}
@media (max-width: 1023px) {
  .error-page__container {
    min-height: 500px;
    display: block;
  }
}
.error-page__body {
  position: relative;
  z-index: 2;
}
.error-page__title {
  margin-bottom: 10px;
}
.error-page__text {
  margin-bottom: 40px;
}
.error-page__button {
  display: inline-flex;
}
.error-page__video video, .error-page__video img {
  position: absolute;
  width: 1200px;
  height: 650px;
  right: 0;
  bottom: 0;
}
@media (max-width: 1023px) {
  .error-page__video video, .error-page__video img {
    height: inherit;
    width: 700px;
  }
}
@media (max-width: 600px) {
  .error-page__video video, .error-page__video img {
    position: static;
    width: 100%;
  }
}